<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="App.DevCodeActivatorRFID.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="DevCodeActivatorRFID.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="CodeActivatorRFID.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="RFIDReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="App.DevCodeActivatorRFID.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <App.DevCodeActivatorRFID.Properties.Settings>
            <setting name="SocketPortUI" serializeAs="String">
                <value>20400</value>
            </setting>
            <setting name="SocketPortStation" serializeAs="String">
                <value>20401</value>
            </setting>
            <setting name="SoftwareName" serializeAs="String">
                <value>PVCFC RFID</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0.0.0 build 230731 1402</value>
            </setting>
            <setting name="IsMonitor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumberOfStation" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DeviceTransferName" serializeAs="String">
                <value>ML.DeviceTransfer</value>
            </setting>
        </App.DevCodeActivatorRFID.Properties.Settings>
        <DevCodeActivatorRFID.Properties.Settings>
            <setting name="SocketPortUI" serializeAs="String">
                <value>20400</value>
            </setting>
            <setting name="SocketPortRFID" serializeAs="String">
                <value>20401</value>
            </setting>
            <setting name="SoftwareName" serializeAs="String">
                <value>Code Activator RFID</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="IsMonitor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumberOfRFID" serializeAs="String">
                <value>5</value>
            </setting>
        </DevCodeActivatorRFID.Properties.Settings>
        <CodeActivatorRFID.Properties.Settings>
            <setting name="SocketPortUI" serializeAs="String">
                <value>20400</value>
            </setting>
            <setting name="SocketPortRFID" serializeAs="String">
                <value>20401</value>
            </setting>
            <setting name="SoftwareName" serializeAs="String">
                <value>Code Activator RFID</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="IsMonitor" serializeAs="String">
                <value>False</value>
            </setting>
        </CodeActivatorRFID.Properties.Settings>
        <RFIDReader.Properties.Settings>
            <setting name="SocketPortUI" serializeAs="String">
                <value>20400</value>
            </setting>
            <setting name="SocketPortRFID" serializeAs="String">
                <value>20401</value>
            </setting>
            <setting name="SoftwareName" serializeAs="String">
                <value>Code Activator RFID</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
        </RFIDReader.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <App.DevCodeActivatorRFID.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>ML.DeviceTransfer</value>
            </setting>
        </App.DevCodeActivatorRFID.Properties.Settings>
    </userSettings>
</configuration>
