<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="App.PVCFC_RFID.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="App.PVCFC_RFID.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <App.PVCFC_RFID.Properties.Settings>
            <setting name="FontFamily" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10.25</value>
            </setting>
            <setting name="SocketPortUI" serializeAs="String">
                <value>20400</value>
            </setting>
            <setting name="SocketPortStation" serializeAs="String">
                <value>20401</value>
            </setting>
            <setting name="SoftwareName" serializeAs="String">
                <value>PVCFC RFID</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0.0.0 build 230918 1248</value>
            </setting>
            <setting name="ZIsMonitor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumberOfStation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DeviceTransferName" serializeAs="String">
                <value>ML.DeviceTransfer.PVCFCDM60X</value>
            </setting>
            <setting name="StationName" serializeAs="String">
                <value>LINE</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>dd/MM/yyyy</value>
            </setting>
            <setting name="DateFormatFull" serializeAs="String">
                <value>dd/MM/yyyy hh:mm:ss tt</value>
            </setting>
            <setting name="TIDLength" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="EPCLength" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="RFIDIP" serializeAs="String">
                <value>169.254.10.11</value>
            </setting>
            <setting name="RFIDPort" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="ZIsExportModel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerURL" serializeAs="String">
                <value>http://113.163.69.8</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>9594</value>
            </setting>
        </App.PVCFC_RFID.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <App.PVCFC_RFID.Properties.Settings>
            <setting name="DM60XIP" serializeAs="String">
                <value>169.254.10.11</value>
            </setting>
            <setting name="DM60XPort" serializeAs="String">
                <value>23</value>
            </setting>
        </App.PVCFC_RFID.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
